#login {
  color: "#232129";
  padding: 96;
}

#login h1 {
  marginTop: 0;
  marginBottom: 64;
}

#login .login-content {
  display: flex;
  justify-content: space-around;
}

#login .welcome-container {
  flex-basis: 45%;
}

#login .sign-in-container {
  flex-grow: 1;
  margin:  8px;
  padding: 16px;
  text-align: center;
  border: 2px solid #666;
  border-radius: 16px;
}

#login .sign-in-container .loading {
  color: #333;
  font-style: italic;
}
